body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 20px 200px;
}

.right-link {
    display: flex;
    gap: 24px;
}

.right-link > li {
    font-size: 18px;
}

.right-link > li > a {
    color: #E5E7EB;
}

.left-link > li {
    font-size: 24px;
}

.left-link > li > a {
    color: #F9FAF8;
}

.content {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 100px 200px;
}

.image > img {
    width: 500px;
    height: 250px;
}

p {
    color: white;
    margin: 0px;
}

.Hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.Hero-Text {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    font-size: 16px;
}

.detail {
    width: 400px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.tiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.bottom {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.item > p {
    color: rgb(83, 80, 80);
    margin-top: 10px;
    width: 250px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 125px 300px;
    margin-top: 100px;
}

.quote > h2 {
    font: 36px light italic;
    color: #1F2937;
    margin-bottom: 0px;
}

.author {
    align-self: flex-end;
}

h4 {
    font-size: 24px;
    margin-top: 0px;
    padding-right: 40px;
}

.action {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    margin: 100px 150px;
    border-radius: 10px;
    align-items: center;
    color: white;
    padding: 10px;
}

.action-button > button {
    border-color: white;
}

h3 {
    font-size: 25px;
    margin-bottom: 0px;
}

h5 {
    margin-top: 0px;
    font-size: 20px;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937 ;
    text-align: center;
    margin: 0px;
    padding: 50px;
}

.footer > p {
    color: #E5E7EB;
    font-size: 18px;
}